/* Styling for the whole page */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #000000;
  color: #fdfdfd;
  font-family: Arial, sans-serif;
}


.container {
  position: fixed;
  width: 75%;
  margin-top: 260px;
  margin-left: 60px;
  margin-bottom: 50px;
  background-color: #0f0f0f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#output {
  font-size: 36px;
  font-weight: bold;
  color: blue;
}

h1 {
  text-align: center;
}

.input-container {
  position: fixed;
  top: 260px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 1;
  margin-top: 10px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#input {
  padding: 5px;
  font-size: 16px;
  flex: 1;
}

button {
  padding: 5px 10px;
  background-color: #333333;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  flex: 0 0 auto;
}



table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border: 1px solid #FFFFFF;
}

th {
  background-color: #4287f5;
  color: #FFFFFF;
}

tbody tr:nth-child(2n) {
  background-color: #4c4c4c;
}

#date {
  font-weight: bold;
  color: orange;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}



