body {
    background-color: black;
    color: lightblue;
    font-weight: bold;
    text-align: center;
  }
  
  input {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  #result1, #result2 {
    margin-top: 20px;
  }
  