body {
  background-color: black;
  color: lightblue;
  font-weight: bold;
  text-align: center;
}

table.results {
  margin: auto;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

table.results td {
  padding: 10px;
  border: 2px solid lightblue;
}
